<section class="vh-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-black">
  
          <div class="px-5 ms-xl-4">
            <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
            <span class="h1 fw-bold mb-0">Logo</span>
          </div>
  
          <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
  
            @if(isLoginView) {
                <form style="width: 23rem;">
  
                    <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Login</h3>
        
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input placeholder="Nome de Usuário" name="userName" [(ngModel)]="userLogin.userName" type="email" id="form2Example18" class="form-control form-control-lg" />
                    </div>
        
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input placeholder="Senha" name="password" [(ngModel)]="userLogin.password" type="password" id="form2Example28" class="form-control form-control-lg" />
                    </div>
        
                    <div class="pt-1 mb-4">
                      <button data-mdb-button-init data-mdb-ripple-init (click)="onLogin()" class="btn btn-info btn-lg btn-block" type="button">Login</button>
                    </div>
        
                   
                    <p>Não tem conta ainda? <a class="link-info" (click)="isLoginView = false">Registre-se aqui!</a></p>
        
                  </form>
            } @else {
                <form style="width: 23rem;">
  
                    <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Registro</h3>
        
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input placeholder="Email" name="emailId" [(ngModel)]="userRegisterObj.emailId" type="email" id="form2Example18" class="form-control form-control-lg" />
                    </div>
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input placeholder="Nome de Usuário" name="userName" [(ngModel)]="userRegisterObj.userName" type="email" id="form2Example18" class="form-control form-control-lg" />
                    </div>
        
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input placeholder="Senha" name="password" [(ngModel)]="userRegisterObj.password" type="password" id="form2Example28" class="form-control form-control-lg" />
                    </div>
        
                    <div class="pt-1 mb-4">
                      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-info btn-lg btn-block" (click)="onRegister()" type="button">Registrar</button>
                    </div>
        
                  
                    <p>Já tem uma conta? <a  class="link-info" (click)="isLoginView = true">Faça o Login aqui!</a></p>
        
                  </form>
            }
           
            
  
          </div>
  
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="https://img.freepik.com/fotos-gratis/belas-perspectivas-de-dossel-de-arvores-com-paisagem-natural_23-2151305155.jpg?w=740&t=st=1719266067~exp=1719266667~hmac=32c2ea305058285845a34631642f6b2d92bae6218b3bb3f856cae0f0fbd9c1e0"
            alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
        </div>
      </div>
    </div>
  </section>